<div class="container d-flex justify-content-center align-items-center full-height" >
    <div class="d-flex justify-content-between full-width">
        <a routerLink="products">
            <div class="card text-white bg-success">
                <img class="card-img-top" src="assets/products.png" alt="products">
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="card-title">Products List</h5>
                    </div>
                </div>
            </div>
        </a>

        
        <a routerLink="products/add">
            <div class="card text-white bg-success">     
                <img class="card-img-top" src="assets/add-product.png" alt="new product">
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="card-title">Add a Product</h5>
                    </div>
                </div>
            </div>
        </a>

    </div>
</div>
  